.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #eee;
  &-group {
    display: flex;
    align-items: center;
    padding: 5px;
    a {
      margin-left: 5px;
    }
  }
}

